.jumbotron{
	background-color: #475AF7; 
	color: #EAFAF1;
	margin-top: 50px;
	
}
.central{
	padding: 0px 300px 0px 300px;
}

h1{

	
}

button{
	 border-color: blue;
}
footer{
	padding: 10px 10px 0 10px;
	background-color: #2C3E50;
	margin-bottom: 0px;
	margin-top: 10px;

}
nav{
	background-color: #1C2833;
}
.flex-rest{
	flex: 1 150px;
	padding: 2px 5px 2px 5px;
	margin-top: 10px;
}

.btn{
	 background-color: green;
}

.btn-reserva{
	width: 100%;

}
.breadcrumb {
background-color: #1C2833;
}
#navbarNav{
	background-color: #CCD1D1;

}

.footer-address-icon{
	padding-right: 10px;
}
address{
	color: #EAFAF1;
}

a{
	color: #EAFAF1;
}
.card-restaurante{
	padding: 2px 5px 2px 5px;
	margin-top: 10px;
	flex: 1 200px;
}
.btn-restaurante{
	width: 100%;
	border-radius: 10px;
}
.img-cat{
	width: 150px;
	height: 150px;
}